<div>
  <h2>Crear Celular</h2>
  <form (ngSubmit)="onSubmit()">
    <label>Marca:
      <input [(ngModel)]="celular.marca" name="marca" required>
    </label>
    <label>Serial:
      <input [(ngModel)]="celular.serial" name="serial" required>
    </label>
    <label>Fecha de Compra:
      <input [(ngModel)]="celular.fechaCompra" name="fechaCompra" type="date" required>
    </label>
    <label>Año de Lanzamiento:
      <input [(ngModel)]="celular.anioLanzamiento" name="anioLanzamiento" required>
    </label>
    <label>Precio:
      <input [(ngModel)]="celular.precio" name="precio" required>
    </label>
    <label>Sistema Operativo:
      <input [(ngModel)]="celular.sistemaOperativo" name="sistemaOperativo" required>
    </label>
    <label>Gama:
      <input [(ngModel)]="celular.gama" name="gama" required>
    </label>
    <button type="submit">Crear</button>
  </form>
</div>
